<!doctype htm!>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<div class="container-fluid">
	  <header>
	  	<div class="col-xs-10 col-xs-offset-1">
	  	<nav class="navbar navbar-default">
		    <div class="col-xs-11 navbar-header">
		      <a class="navbar-brand" href="/home">
		        Sport-Catalog Web page
		      </a>  
		      <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Sign in</a></p>
		    </div>
		</nav>
		</div>
	  </header>
	  <div class="col-xs-8 col-xs-offset-2">
	  	 <h1>Items in {{category_name}}.</h1>
	  	 <p class="lead">{{info}}</p>
	  	<div class="row">
	  		<a class="btn btn-primary" href="/add-item" role="button">Create Item</a>
	  		<a class="btn btn-primary" href="/add-category" role="button">Create Category</a>
	  	</div>
	  </div>
	  <div class="col-xs-6 col-xs-offset-3">
	  	<div class="row">
	  	<div class="input-group margin-table">
	  	  <input type="text" class="form-control" id="filter-item-table" placeholder="Type an item name"><span class="input-group-addon glyphicon glyphicon-eye-open"></span>
	  	</div>
	    </div>
	    <div class="row">
	    	<div class="col-xs-8 col-xs-offset-2">
	    	
				<table class="table table-striped table-bordered table-hover table-condensed item-table margin-table">
				   <th class="col-xs-8 col-xs-offset-2">Item</th>
				   <th class="col-xs-8 col-xs-offset-2">Edit</th>
				   <th class="col-xs-8 col-xs-offset-2">Delete</th>
				   <tbody>
					{% for item in items_list %}
				   	<tr>
			          <td><a href="/view-item/{{item.id_item}}" class="item-name">{{item.item_name}}</a>
			          <td><a href="/edit-item/{{item.id_item}}" class="text-warning pull-right glyphicon glyphicon-pencil"></a></td>
	                  <td><a href="/remove-item/{{item.id_item}}" class="text-danger pull-right glyphicon glyphicon-remove"></a></td>
			          </td>
				   	</tr>
					{% endfor %}
			       </tbody>
			    </table>
		    
		    </div>
	    </div>
	  </div>
    </div>
	<script type="text/javascript" src="../static/javascript/lib/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../static/javascript/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/javascript/filters.js"></script>
</body>
</html>