<!doctype htm!>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
   <div class="container-fluid">
      <header>
         <div class="col-xs-10 col-xs-offset-1">
            <nav class="navbar navbar-default">
                <div class="col-xs-11 navbar-header">
                  <a class="navbar-brand" href="/home">
                    Sport-Catalog Web page
                  </a>  
                  <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Sign in</a></p>
                </div>
            </nav>
         </div>
      </header>
    <div class="col-xs-8 col-xs-offset-2">
      <span class="pull-right text-primary glyphicon glyphicon-arrow-left back-buttons"> Back</span>
       <h1>Edit Item.</h1>
       <p class="lead">{{info}}</p>
    </div>
      <div class="col-xs-8 col-xs-offset-2">
      	{% for model in item_model%}
         <form class="form-inline" enctype="multipart/form-data" action="/update-item/{{model.id}}" method="POST">
             <div class="row"> 
             		<div class="col-xs-6">
                      <label >Item:</label>
             		  <input type="text" class="form-control" name="item_name" placeholder="{{model.name}}" value="{{model.name}}">
             		</div>
                <div class="col-xs-6">
                  <label >Description:</label>
                  <textarea class="form-control" name="description">{{model.description}}</textarea>
                </div>
             </div>
            <div class="row margin-table">
              <div class="col-xs-4">
                <label >Category:</label>
                <select class="form-control category-edit-item" name="category" aria-labelledby="dropdownMenu4">
                  <option value="null">Select a Category</option>
                 {% for sport in model.sport_list %}
                   <option value="{{sport.id}}">{{sport.name}}</option>
                 {% endfor %}
                </select>
                <input type="hidden" value="{{model.category}}" id="value-category">
              </div>
              <div class="col-xs-4">
                <img src="../{{model.image}}" class="img-responsive img-rounded img-view">
                <button type="button" class="btn btn-default button-image-item"><span class="glyphicon glyphicon-picture"></span>Upload Image</button>
                <input type="file" name="item-image" class="image-item" value="Select an image">
              </div>
           	  <div class="col-xs-4">
           		  <button type="submit" class="btn btn-warning" >Save changes <span class="glyphicon glyphicon-floppy-disk"></span></button>
                 </div>
              </div>
            </div>
         </form>
        {% endfor %}
      </div>
   </div>
   <script type="text/javascript" src="../static/javascript/lib/jquery-1.11.3.min.js"></script>
   <script type="text/javascript" src="../static/javascript/lib/bootstrap.min.js"></script>
   <script type="text/javascript" src="../static/javascript/filters.js"></script>
</body>
</html>